.well-known
.DS_Store
.idea
node_modules
npm-debug.log
bower_components
dist
.sass-cache
.awspublish*
config.json
nbproject
*.LCK
Thumbs.db

# TYPO3 Ignores, Symlinks duerfen kein Slash am Ende haben, werden behandelt wie Dateien #
/typo3
/typo3_src
/typo3temp/
/uploads/
/t3lib/
/index.php
chmod.php
DbSettings.php

fileadmin/_processed_/
fileadmin/_migrated/
fileadmin/user_upload/
fileadmin/_temp_/
typo3conf/l10n/
typo3conf/ENABLE_INSTALL_TOOL
typo3conf/deprecation*

ENABLE_INSTALL_TOOL