{namespace f=TYPO3\CMS\Fluid\ViewHelpers}
<!-- Partials/AutocompleteLink.html -->
<f:spaceless>
    <li role="option">
        <f:link.typolink parameter="{results.page_id}" class="navigate-on-enter" title="{results.title}">
            <span class="tx-indexedsearch-autocomplete-title">{results.title}</span>
            <f:if condition="{results.description}">
                <span class="tx-indexedsearch-autocomplete-desc"><f:format.crop maxCharacters="80">{results.description}</f:format.crop></span>
            </f:if>
        </f:link.typolink>
    </li>
</f:spaceless>
