{namespace f=TYPO3\CMS\Fluid\ViewHelpers}
<f:layout name="General" />
<!-- Templates/Search.html -->
<f:section name="main">
    <!-- Search type: {mode} -->

    <f:if condition="{mode}=='link'">
        <f:then>
            <ul class="tx-indexedsearch-autocomplete-links">
                <f:for each="{autocompleteResults}" as="results" key="entrynumber" iteration="iterator">
                    <f:render partial="AutocompleteLink" arguments="{_all}" />
                </f:for>
            </ul>
        </f:then>
        <f:else>
            <ul class="tx-indexedsearch-autocomplete-words">
                <f:for each="{autocompleteResults}" as="word" key="entrynumber" iteration="iterator">
                    <f:render partial="AutocompleteWord" arguments="{_all}" /> 
                </f:for>
            </ul>
        </f:else>
    </f:if>
</f:section>
