<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/Search.html
-->

<f:section name="main">
    <f:if condition="{mode}=='link'">
        <f:then>
            <ul class="tx-indexedsearch-autocomplete-links">
                <f:for each="{autocompleteResults}" as="results" key="entrynumber" iteration="iterator">
                    <f:render partial="AutocompleteLink"/>
                </f:for>
            </ul>
        </f:then>
        <f:else>
            <ul class="tx-indexedsearch-autocomplete-words">
                <f:for each="{autocompleteResults}" as="word" key="entrynumber" iteration="iterator">
                    <f:render partial="AutocompleteWord"/>
                </f:for>
            </ul>
        </f:else>
    </f:if>
</f:section>
</html>